In [2]:
# Q1.
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

my_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Q2.

import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

my_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
# Q3.
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
# Q4.

# Pandas DataFrames are versatile for operations like data selection, aggregation, merging, reshaping, and 
# visualization on structured, multi-variable data, while Series are designed for element-wise operations, 
# descriptive statistics, and indexing within a single variable.

# Example of series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

my_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
# example of dataframe
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
# # Q5

# Pandas provides a variety of functions to manipulate and analyze data in a DataFrame. 
# Some common functions include:

# head():
#     gives the top 5 rows by default.
# tail():
#     gives the last 5 rows by default.
# info():
#     provides a concise summary of the DataFrame, including data types, non-null values, and memory usage.

In [12]:
# # Q6.

# Series is mutable. DataFrame is also mutable with some exceptions.

In [ ]:
# Q7.